@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:700);
/* COULEUR MENU */
/* COULEUR MENU LEFT DOCUMENTATION*/
/* COULEUR MENU VERSION PORTABLE*/
/* COULEUR PARAGRAPHE */
/* POLICE DU SITE */
/* FORMAT RESPONSIVE */
/* STATIC */
/* VARIABLE */
/* RESPONSIVE */
@keyframes pulsation_bouton {
  from {
    box-shadow: 0 0 0 -3px rgba(255, 255, 255, 0), 0 0 0 0 #dab349;
  }
  to {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 13px rgba(255, 255, 255, 0);
  }
}
/* line 7, ../../sass/_extends.scss */
.link, a, input, textarea, button, a:visited, input:visited, textarea:visited, button:visited {
  outline: medium none;
  text-decoration: none;
}

/* line 12, ../../sass/_extends.scss */
.button {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: auto;
  width: 40%;
  position: relative;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
}
@media screen and (max-width: 1705px) {
  /* line 12, ../../sass/_extends.scss */
  .button {
    width: 45%;
  }
}
@media screen and (max-width: 1500px) {
  /* line 12, ../../sass/_extends.scss */
  .button {
    width: 50%;
  }
}
@media screen and (max-width: 1238px) {
  /* line 12, ../../sass/_extends.scss */
  .button {
    display: block;
    width: 38%;
  }
}
@media screen and (max-width: 600px) {
  /* line 12, ../../sass/_extends.scss */
  .button {
    width: 75%;
  }
}

/* line 31, ../../sass/_extends.scss */
.button:hover {
  animation: pulsation_bouton 0.8s ease-out;
}

/* line 35, ../../sass/_extends.scss */
.scroll, .menu-collapsed {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 8, ../../sass/_global.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 14, ../../sass/_global.scss */
a, input, textarea, button, a:visited, input:visited, textarea:visited, button:visited {
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}

/* line 19, ../../sass/_global.scss */
input, textarea, button, input:visited, textarea:visited, button:visited {
  border: none;
}

/* line 23, ../../sass/_global.scss */
textarea {
  resize: none;
}

/* line 31, ../../sass/_global.scss */
.logo {
  position: relative;
  display: inline-block;
  height: 75px;
  width: 100px;
}
/* line 35, ../../sass/_global.scss */
.logo a {
  height: 100%;
  width: 100%;
}

/* line 44, ../../sass/_global.scss */
.menu {
  position: relative;
  display: inline-block;
  float: right;
}
@media screen and (max-width: 1238px) {
  /* line 44, ../../sass/_global.scss */
  .menu {
    display: none;
  }
}
/* line 52, ../../sass/_global.scss */
.menu .nav {
  padding: 24px 10px;
}
/* line 55, ../../sass/_global.scss */
.menu .nav li {
  position: relative;
  display: inline-block;
}
/* line 58, ../../sass/_global.scss */
.menu .nav li.fade a {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
/* line 63, ../../sass/_global.scss */
.menu .nav li a {
  font-family: "Source Code Pro", sans-serif;
  font-size: 17px;
  color: #666666;
  display: block;
  padding: 5px 15px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 72, ../../sass/_global.scss */
.menu .nav li a:hover, .menu .nav li a:active {
  color: #ff710b;
}

/* line 80, ../../sass/_global.scss */
.menu-collapsed {
  top: 10px;
  right: 9px;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  height: 36px;
  width: 36px;
  z-index: 1;
  display: none;
  position: fixed;
  cursor: pointer;
}
@media screen and (max-width: 1238px) {
  /* line 80, ../../sass/_global.scss */
  .menu-collapsed {
    display: block;
  }
}
/* line 96, ../../sass/_global.scss */
.menu-collapsed ul {
  transition: all 0s;
  -moz-transition: all 0s;
  -webkit-transition: all 0s;
  position: fixed;
  left: -9000px;
}

/* line 104, ../../sass/_global.scss */
.bar {
  height: 6px;
  width: 30px;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  content: "";
  background-color: black;
  top: 24px;
  right: 12px;
  position: fixed;
}
/* line 110, ../../sass/_global.scss */
.bar:before, .bar:after {
  height: 6px;
  width: 30px;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  content: "";
  background-color: black;
  right: 0;
  position: absolute;
}
/* line 116, ../../sass/_global.scss */
.bar:before {
  top: -8px;
}
/* line 119, ../../sass/_global.scss */
.bar:after {
  top: 8px;
}

/* line 124, ../../sass/_global.scss */
.menu-expanded {
  top: 0;
  right: 0;
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 150px;
  background-color: rgba(76, 76, 76, 0.85);
}
/* line 134, ../../sass/_global.scss */
.menu-expanded ul {
  transition: all 0s;
  -moz-transition: all 0s;
  -webkit-transition: all 0s;
  left: 0;
  z-index: 2;
  position: relative;
}
/* line 142, ../../sass/_global.scss */
.menu-expanded a {
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  font-size: 2em;
  padding: 5px;
  color: white;
  display: block;
}
/* line 150, ../../sass/_global.scss */
.menu-expanded a:hover {
  transition: all 0.15s;
  -moz-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.15);
  letter-spacing: 2px;
}
/* line 160, ../../sass/_global.scss */
.menu-expanded .bar {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  background-color: transparent;
}
/* line 165, ../../sass/_global.scss */
.menu-expanded .bar:before {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: rotate(45deg);
  top: -0px;
}
/* line 169, ../../sass/_global.scss */
.menu-expanded .bar:after {
  transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: rotate(-45deg);
  top: -0px;
}

/* line 179, ../../sass/_global.scss */
footer {
  height: auto;
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: #818181;
}
@media screen and (max-width: 1238px) {
  /* line 179, ../../sass/_global.scss */
  footer {
    position: relative;
    display: inline-block;
  }
}
/* line 190, ../../sass/_global.scss */
footer .copyright {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 5px;
}

/* line 23, ../../sass/page/documentation.scss */
.block, .container_documentation .block_div_center {
  margin-top: 2%;
  padding-bottom: 2%;
}
@media screen and (max-width: 1238px) {
  /* line 23, ../../sass/page/documentation.scss */
  .block, .container_documentation .block_div_center {
    margin-top: 5%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 1238px) {
  /* line 38, ../../sass/page/documentation.scss */
  .container_documentation {
    padding-top: 5%;
  }
}
/* line 44, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left {
  position: fixed;
  width: 12%;
  height: 100%;
  background-color: #363A41;
  left: 0;
}
/* line 51, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left .menu-left {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 57, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left li.maintab > a {
  height: 39px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #363A41;
  padding: 0 10px;
  color: #bbcdd2;
  position: relative;
  font: 400 12px/1.42857 "Open Sans",Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 73, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left li.main-sub-menu {
  padding-left: 20px;
}
/* line 77, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left li.assets-menu:hover ~ li.assets-sub-menu,
.container_documentation .block_div_menu_left li.assets-menu:focus ~ li.assets-sub-menu,
.container_documentation .block_div_menu_left li.core-menu:hover ~ li.core-sub-menu,
.container_documentation .block_div_menu_left li.core-menu:focus ~ li.core-sub-menu {
  display: block;
}
/* line 84, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left li.assets-sub-menu, .container_documentation .block_div_menu_left li.core-sub-menu {
  display: none;
  padding-left: 40px;
}
/* line 89, ../../sass/page/documentation.scss */
.container_documentation .block_div_menu_left li.main-sub-menu > a, .container_documentation .block_div_menu_left li.sub-menu > a {
  cursor: pointer;
  position: relative;
  height: 34px;
  background-color: #363A41;
  color: #BEBEBE;
  line-height: 34px;
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 107, ../../sass/page/documentation.scss */
.container_documentation .block_div_center {
  background-color: white;
  display: inline-block;
  float: right;
  width: 88%;
  height: auto;
}
